doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/css/animation.css')
    link(rel='stylesheet', href='/css/fontello.css')
  body
    block content
